
/*guides*/
.black {
  border: 1px solid #000000;
}
.red {
  border: 1px solid #FF0000;
}
.orange {
  border: 1px solid #FF8700;
}
.yellow {
  border: 1px solid #FFFB00;
}
.blue {
  border: 1px solid #002EFF;
}
.purple {
  border: 1px solid #8700FF;
}
.pink {
  border: 1px solid #F700FF;
}
.green {
  border: 1px solid #09c600;
}


/*Top Navigation Config*/
.navbar-header{
    padding-top: 24px;
}
.navbar-default{
    height: 100px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    padding-top: 24px;
}
a.navbar-brand {
    padding: 0px;
}
.navbar-default {
    background-color: rgba(0,0,31,5) !important; 
    border-color: rgba(0,0,31,5) !important;
}
div#navbar {
    background-color: rgba(0,0,31,5);
}
.navbar-default .navbar-nav>li>a{
    color: #ffff;
    font-weight: bold;
}
ul.nav.navbar-nav.navbar-right li a:hover{
    color: #fff;
}
.navbar-right {
    font-size: 15px;
}

/*background image*/
.index-bg {
    background-image: url(img/bg_singleevents.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 889px;
}

/*Slogan*/
.slogan p{
    color: #fff;
    margin-top: 194px;
    font-size: 90px;
    font-weight: bold;
    font-family: "Century Gothic";
    letter-spacing: -3px;
    line-height: 50px;
}

.slogan span{
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 5px;
}
.slogan-desc{
    float: left;
    color: #fff;
    font-weight: normal !important;
    font-size: 15px;
    line-height: 32.49px;
    margin-top: 50px;
}

/*button*/
.action_button{
    border: 2px solid #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 24px 54px 24px 54px;
    margin-top: 60px;
    color: #fff;
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold;

}
.action_button:hover{
    background-color: #fff;
    color: rgba(0,0,31,5);
}
.action_button-col{
    border: 2px solid #122e27;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 24px 21px 24px 21px;
    margin-top: 60px;
    color: #222113;
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold;
}
.action_button-col:hover{
    background-color: #122e27;
    color: #fff;
}
.action_button-w-bg{
    border: 2px solid #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 24px 54px 24px 54px;
    color: #fff;
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold;
}
.action_button-w-bg:hover{
    background-color: #fff;
    color: #262146;
}

.right{
    float: right;
}
.left{
    float: left;
}


/*colomn sizes*/
.site-col{
    margin: 78px 0px 78px 0px;
}

/*titles*/
.title-right h1{
    text-align: right;
    color: #122e27;
    font-size: 50px;
    font-weight: bold;
    font-family: "Century Gothic";
}
.title-right p{
    text-align: right;
    font-size: 15px;
    font-family: "Century Gothic";
    line-height: 32.49px;
    padding: 54px 0px 54px 0px;
}
.title-left h1 {
    font-weight:bold;
    font-size:50px;
    color: #fff;
    font-family: "Century Gothic";
}

.title-left p{
    text-align: left;
    font-size: 15px;
    font-family: "Century Gothic";
    line-height: 32.49px;
    padding: 54px 0px 54px 0px;
    color: #fff;
}

/*countdown*/
.countdown-bg{
    background-image: url(img/bg_countdown.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.action_button .left{
    margin-top: 0px !important;
}
span.time-font {
    color: #fff;
    font-size: 90px;
    display: inline-block;
    font-family: "Product Sans";
    font-weight: bold;
}

p.timer-count {
    color: #fff;
    font-size: 28px;
    font-family: "Product Sans";
}

.angle-one p{
    color: #fff;
    font-size: 28px;
    text-align: center;
}
.angle-two p{
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.angle-three p{
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.angle-four p{
    color: #fff;
    font-size: 28px;
    text-align: center;
}
ul#countdown li {
    list-style-type: none;
}
ul#countdown {
    display: inline-flex;
    margin-top: 50px;
}
ul#countdown li {
    padding-right: 47px;
}

/*upcoming events css*/
.upcoming-bg{
    background-image: url(img/bg-direct.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;

}
.upcoming-col h1{
    color: #fff;
}
.upcoming-col p{
    color: #fff;
}

/*Testimonials*/
.testimonial_title{
    text-align: center;
    color: #312f94;
    font-size: 50px;
    font-weight: bold;
    font-family: "Century Gothic";
/*    margin: 100px 0px 87px 0px;*/
}
.testimonial_Card{
    -webkit-box-shadow: 0px 0px 19px 0px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 19px 0px rgba(219,219,219,1);
    box-shadow: 0px 0px 19px 0px rgba(219,219,219,1);
    /*margin: 0px 10px 0px 10px;*/
    /*height: 207px;*/
}
.testimonial_Card p {
    padding: 20px;
}
.testimonial-area .col-lg-4{
    margin: 0px 18px 0px 18px;
    width: 30%;
}

.testimonial-area{
    margin-bottom: 267px;
}

.test_one img{
    border-radius: 50%;
    width: 150px;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testimonial_title{
    margin-bottom: 20px; 
}
p.testname {
text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding: 10px 10px 0px 10px;
}

/*footer*/
.site-footer{
    background-color: #00001f;
    height: auto;
}

.site-footer p{
    color: #FFF;
}
.footer-nav p{
    color: #7e7e9d;
    font-weight: bold;
    font-size: 25px;
}

.footer-nav{
    margin-top: 108px;
}

.footer-nav li a{
    font-size: 14px;
    font-family: "Product Sans";
    text-decoration: none;
    color: #fff;
    line-height: 32.49px;
}

.footer-nav li a:hover{
    color:#7e7e9d ;
}
.copyright{
    color: #fff;
}
.footer-logo{
    margin-top: 40px;
}

hr{
    margin:0px;
}


/*rotator*/
* {
  box-sizing: border-box;
}

.column {
    float: left;
    width: 12%;
    padding: 5px;
    margin-top: -96px;
    cursor: pointer;
    transition: transform .2s;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

/*slider*/
.slider-rotate{
    margin-top: 75px;
}

/*sidebar*/
.sidebar-bg{
    background-image: url(img/sidebar-bg.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.side-title h1{
    text-align: right;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    font-family: "Century Gothic";
    padding: 70px 50px 70px 0;
}
.col-lg-6.side-title {
    border-right: 5px solid #fff;
}

.side-nav{
    margin-top: 100px;
}

.side-nav li a{
    font-size: 18px;
    font-family: "Product Sans";
    text-decoration: none;
    color: #fff;
    line-height: 32.49px;
}

.side-nav li a:hover{
    color:#7e7e9d ;
}
.side-nav p{
    color: #7e7e9d;
    font-weight: bold;
    font-size: 25px;
}
body { padding-top: 70px; }

/*body*/
/*html{
    overflow-x:hidden
}*/

/*media query*/
@media (max-width: 1199px)
{
    .title-right h1{
        text-align: center;
    }
    .title-right p{
        text-align: center;
    }
    .title-left h1{
        text-align: center;
    }
    .title-left p{
        text-align: center;
    }
    .side-title h1{
        text-align: center;
        padding: 0px;
    }
    .side-title p{
        text-align: center;
    }
    .col-lg-6.side-title{
        border: none;
    }
    .sidebar-area{
        display: inline-flex;
    }
    .side-nav{
        margin-top: 10px;
    }
    .col-lg-4.testimonial_Card {
        float: left;
        margin: 15px;
    }
    .col-lg-6.site-col{
        text-align: center;
    }
    ul#countdown{
        width: 100%;
        padding-left: 150px;
    }
    .footer-nav {
        text-align: center;
        display: block;
    }
    .col-md-6.copyright {
        text-align: center;
        width: 100%;
    }
    .action_button-col.right {
        width: 100%;
    }
    .action_button-w-bg {
        width: 100%;
    }
}

@media (max-width: 990px)
{
    ul#countdown {
        width: 100%;
        padding-left: 50px;
    }
    .col-lg-4.testimonial_Card {
        float: left;
        width: 100%;
        margin: 20px 0px 60px 20px;
    }
}
@media (max-width: 783px)
{
    .navbar-nav{
        text-align: center;
    }
    ul.nav.navbar-nav.navbar-right li a:hover{
        background-color: #fff;
        color: #00001f;
    }
}
@media (max-width: 766px)
{
    ul#countdown {
        width: 100%;
        padding-left: 90px;
    }
    .footer-nav{
        margin-top: 20px;
    }
    .col-lg-4.testimonial_Card {
        margin: 20px 0px 60px 0px;
    }
    ul#countdown li span {
        font-size: 60px;
    }
    ul#countdown li p {
        font-size: 15px;
    }
    a.navbar-brand img {
        margin-left: 20px;
    }
    .navbar-header {
        margin-bottom: 20px;
    }

}
@media (max-width: 717px){
    ul#countdown li span {
        font-size: 50px;
    }
    ul#countdown li p {
        font-size: 10px;
    }
    ul#countdown {
        width: 100%;
        padding-left: 100px;
    }
    .slogan p{
        font-size: 70px;
        line-height: 30px;
    }
    .slogan span{
        font-size: 25px;
    }
    .sidebar-area{
        display: block;
    }

}
@media (max-width: 542px){
    .col-lg-7.slogan p {
        font-size: 60px;
    }
}
@media (max-width: 473px){
    .col-lg-7.slogan p {
        font-size: 50px;
    }
}
@media (max-width: 402px){
    .col-lg-7.slogan p {
        font-size: 40px;
    }
}
@media (max-width: 675px){
    ul#countdown {
        display: none;
    }
}
@media (max-width: 366px){
    .title-right h1 {
        text-align: center;
        font-size: 35px;
    }
    .testimonial_title {
        font-size: 35px;
    }
    .navbar-header img {
        width: 230px;
    }    
}
@media (max-width: 332px){
    .col-lg-7.slogan p {
        font-size: 38px;
    }
}
